@utility shrink-max {
	flex-shrink: 100000;
}

@utility grow-max {
	flex-grow: 100000;
}

@utility w-stretch {
	width: -webkit-fill-available;
	width: -moz-available;
	width: stretch;
}

@utility h-stretch {
	height: -webkit-fill-available;
	height: -moz-available;
	height: stretch;
}

@utility pp-* {
	--parent-padding: calc(var(--spacing) * --value(integer));
}

@utility pc {
	padding: var(--parent-padding);
}

.anim-ellipsis::after {
	/* using U+2008 (spaces of punctuation width) to maintain constant width, and an empty alt text for screen readers */
	content: "  " / "";
	animation: var(--animate-ellipsis);
}

@theme {
	--animate-ellipsis: dots 2s steps(3, jump-end) infinite;
	@keyframes dots {
		0% {
			content: "  " / "";
		}
		33.33% {
			content: ". " / "";
		}
		66.67% {
			content: ".." / "";
		}
	}
}
